*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/apps/target/
/target/
/api/target/
/api/common/target/
/apps/solr-webapp/target/
/api/elasticsearch-api/target/
/api/solr-api/target/
/apps/elasticsearch-webapp/target/
/apps/common-files/target/
/apps/elasticsearch-webapp/logs
nb-configuration.xml
apps/solr-webapp/logs/
/apps/solr-webapp/src/main/resources/eumetsat-core/conf/_schema_analysis_stopwords_english.json
/apps/solr-webapp/src/main/resources/eumetsat-core/conf/_rest_managed.json
/apps/solr-webapp/src/main/resources/eumetsat/conf/_rest_managed.json
/apps/solr-webapp/src/main/resources/eumetsat/conf/_schema_analysis_stopwords_english.json
/apps/elasticsearch-webapp/data
apps/elasticsearch-webapp/nbactions.xml
