body {
    padding-top: 70px;
    padding-bottom: 30px;
}

!decrease navbar size
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}

.badge {
    padding: 1px 9px 2px;
    font-size: 09.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#resultlist ul {
    list-style-type: none;
}

#resultlist li {
    border-bottom: 1px #eeeeee solid;
}

#resultlist img {
    border: 0;
    margin: 1em;
    float: right;
}