<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="esFile" fileName="logs/elasticsearch-app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="asyncFile">
            <AppenderRef ref="esFile"/>
        </Async>
    </Appenders>
  
    <Loggers>
        <Logger name="eumetsat.pn" level="TRACE" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="asyncFile"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
